* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(35, 5, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conteudo {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 400px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.titulo {
    font-weight: bold;
    font-size: 28px;
    color: rgb(78, 2, 76);
    margin-bottom: 20px;
}

.descricao {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    color: rgb(203, 194, 194);
    margin-bottom: 20px;
}

.label-input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 4px;
}

.label-input input {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: #ecf0f1;
    margin-left: 10px;
}

.icon-modify {
    color: rgb(187, 180, 187);
}

.btn {
    background-color: rgb(78, 2, 76);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
}

.btn:hover {
    background-color: rgb(119, 2, 115);
}

.senha {
    display: block;
    margin: 10px 0;
    color: rgb(55, 52, 55);
    text-decoration: none;
}

.senha:hover {
    text-decoration: underline;
}