body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.loading {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(128, 0, 128); /* Cor roxa com opacidade */
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #800080; /* Cor roxa */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container {
    background-color: rgb(41, 2, 51);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
}

.logo {
    width: 150px;
    border-radius: 10px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 35px;
}

p{
    color: #ffffff;
    text-align: justify;
}

h2 {
    color: #ffffff;
    text-align: justify;
    font-size: 13px;
    margin-top: 20px;
}

label {
    display: block;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 13px;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 280px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #868686;
    border-radius: 5px;
    background-color: #181616;
    color: #ffffff;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 303px;
}

.btn-enviar {
    background-color: rgb(255, 166, 0);
    color: rgb(255, 255, 255);
}

.btn-enviar:hover {
    background-color: rgb(255, 234, 143);
}

.btn-voltar {
    background-color: white;
    color: black;
}

.btn-voltar:hover {
    background-color: rgb(211, 193, 193);
}