body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: rgb(35, 5, 41);
}
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: rgb(78, 29, 84);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
}
.logo {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}
.sidebar button {
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(78, 29, 84);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
}
.sidebar button i {
    margin-right: 10px;
}
.sidebar button:hover {
    background-color: rgb(119, 2, 115);
}
.footer {
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
}

/*user-menu*/

.user-photo {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid #adadad;
    overflow: hidden; /* Garante que a imagem fique dentro do círculo */
    cursor: pointer;
}

.user-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra todo o círculo */
}
.user-menu {
    position: absolute;
    top: 70px;
    right: 10px;
    width: 200px;
    background-color:  rgb(78, 2, 76);
    border: 1px solid #ffffff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;
}

.user-menu.hidden {
    display: none;
}

.user-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #201f1f;
    border-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    color: #ffffff;
    transition: background-color 0.3s;
}
.user-menu button:hover {
    background-color: rgb(119, 2, 115);
}

.user-menu .logout {
    margin-top: 20px;
    color: #ffffff;
    font-weight: bold;
}

.study-image {
    width: 200px; /* Ajuste este valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

/*fim-user-menu*/

/*base*/

.content {
    color: white;
    margin-left: 50px; 
}

.activity-button {
    background-color: #333; 
    color: white;
    border-color: rgb(255, 219, 151);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.activity-button:hover {
    background-color: #555;
}

/*------------*/
.hidden {
    display: none;
}
.visible {
    display: block;
}
/*------------*/

#activity-container {
    margin-top: 7px;
    border: 2px solid  rgb(255, 219, 151); /* Adiciona uma borda preta de 2px */
    padding: 10px; /* Adiciona um pouco de preenchimento ao redor do conteúdo */
    border-radius: 5px; /* Adiciona cantos arredondados à borda */
    background-color: rgb(19, 4, 26); /* Adiciona uma cor de fundo roxa */
    max-width: 600px; /* Define uma largura máxima */
    margin-left: auto; /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
}

#button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
}

#start-button, #close-button {
    background-color: rgb(78, 29, 84); /* Roxo */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    flex: 1;
}

#close-button {
    background-color: rgb(78, 29, 84); /* Roxo */
}

#start-button:hover {
    background-color: rgb(119, 2, 115); /* Roxo escuro */
}

#close-button:hover {
    background-color: rgb(119, 2, 115); /* Roxo escuro*/
}
